<%inherit file="base.html" />
<%!
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string
%>
<%block name="title">Utilities - Bulk Update</%block>
<%block name="bodyclass">is-signedin course view-bulkupdate</%block>

<%namespace name='static' file='static_content.html'/>


<%block name="content">
<div class="wrapper-mast wrapper">
  <header class="mast has-actions has-subtitle">
    <h1 class="page-header">
      <small class="subtitle">${_("Tools / Course Utilities")}</small>
      <span class="sr">&gt; </span>${_("Bulk Update")}
    </h1>
  </header>
</div>

<div class="wrapper-content wrapper">
  <section class="content">
    <article class="content-primary" role="main">
      <section class="course-utility" id="bulk-update">
        <form id="bulk-update-settings-input">
          <header class="section-header">Problem Settings</header>
          <p><b>Note: </b>Any changes applied here will also modify the defaults for future problems in Advanced Settings.</p>
          <div id="max-attempts" class="setting-input-block">
            <input type="checkbox" class="apply-checkbox" name="apply-checkbox" value="max-attempts" />
            <h3 class = "setting-input-label" title="Max Attempts Setting">Max Attempts</h3>
            <input class="input setting-input setting-input-number" type="number" value="${default_max_attempts}" min="0.0000" step="1">
          </div>
          <div id="show-answer" class="setting-input-block">
            <input type="checkbox" class="apply-checkbox" name="apply-checkbox" value="show-answer" />
            <h3 class = "setting-input-label" title="Show Answer Setting">Show Answer</h3>
            <select class="input setting-input">
              % for option in show_answer_options:
                % if option == default_show_answer:
                  <option value="${option}" selected>${option}</option>
                % else:
                  <option value="${option}">${option}</option>
                % endif
              % endfor
            </select>
          </div>
          <input type="submit" value="${_('Apply checked settings')}" class="submit-button" />
          <input type="button" value="${_('Clear display')}" class="reset-button" disabled />
        </form>
      </section>

      <p class="error-block"></p>

      <div class="wrapper wrapper-status is-hidden">
        <h3 class="title">${_("Bulk Update Status")}</h3>

        <ol class="status-progress list-progress">
          <li class="item-progresspoint item-progresspoint-submit is-complete">
            <span class="deco status-visual">
              <i class="icon fa fa-cog"></i>
              <i class="icon fa fa-warning"></i>
            </span>
            <div class="status-detail">
              <h3 class="title">${_("Applying")}</h3>
              <p class="copy">${_("Applying your new settings")}</p>
            </div>
          </li>

          <li class="item-progresspoint item-progresspoint-validate is-not-started">
            <span class="deco status-visual">
              <i class="icon fa fa-cog"></i>
              <i class="icon fa fa-warning"></i>
            </span>
            <div class="status-detail">
              <h3 class="title">${_("Validating")}</h3>
              <p class="copy">${_("Validating your new settings")}</p>
            </div>
          </li>

          <li class="item-progresspoint item-progresspoint-update is-not-started">
            <span class="deco status-visual">
              <i class="icon fa fa-cog"></i>
              <i class="icon fa fa-warning"></i>
            </span>
            <div class="status-detail">
              <h3 class="title">${_("Updating")}</h3>
              <p class="copy">
                  ${_("Default settings for future problems has been updated.")}
                  ${_("Applying update to all problems. This process might take longer with larger courses.")}
              </p>
            </div>
          </li>

        </ol>
      </div>
    </article>

    <aside class="content-supplementary" role="complimentary">
      <div class="bit">
        <h3 class="title title-3">${_("What is bulk update?")}</h3>
        <p>
          ${_("The bulk update page provides a way to update the Max Attempts and Show Answer settings for all existing problems of the current course. This operation also sets the default settings for all future problems of the current course. You can alter this default by going to Advanced Settings.")}
        </p>
      </div>
    </aside>
  </section>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

</%block>

<%block name="requirejs">
  require(["js/factories/bulkupdate"], function(BulkUpdateFactory) {
      BulkUpdateFactory(
          "${bulkupdate_update_url | n, js_escaped_string}",
          "${bulkupdate_status_url | n, js_escaped_string}",
          "${default_max_attempts | n, js_escaped_string}",
          "${default_max_attempts | n, js_escaped_string}",
          "${default_show_answer | n, js_escaped_string}"
      );
  });
</%block>
