<%
from django.core.urlresolvers import reverse

def _message(module, message):
    return message.format(
        link="<a href={url}>{text}</a>".format(
            url=reverse('jump_to',
                kwargs=dict(
                    course_id=module.course_id.to_deprecated_string(),
                    location=module.location.to_deprecated_string(),
                )
            ),
            text=module.display_name_with_default,
        ),
    )
%>
% if message:
    % for module in xmodule.required_modules:
        <p class="conditional-message">${_message(module, message)}</p>
    % endfor
% endif
